.btn-color{
  background-color: #618ee3;
  color: #fff;
  
}

.profile-image-pic{
  height: 200px;
  width: 200px;
  object-fit: cover;
}

.cardbody-color{
  background-color: #ebf2fa;
}

a{
  text-decoration: none;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}

.filter-name {
  background: #795548;
  padding: 2px;
  display: inline-block;
  color: white;
  width: 100px;
  border-radius: 3px;
  text-align: center;
}

body {
  text-align: center;
  font-family: "Lato";
}

h1 {
  margin: 10px 0 0 0;
  font-size: 2em;
}

canvas {
  background: #ececec;
}

.filter-buttons button,
.editor-buttons button {
  background: black;
  border: none;
  color: white;
  font-family: "Lato";
  padding: 8px 12px;
  border-radius: 4px;
  font-size: 1em;
}

.filter-buttons button.disabled {
  background: #aaa;
}

.filter-buttons button {
  padding: 2px 10px;
  margin: 0;
  cursor: pointer;
  background: #ff5722;
}

.editor-buttons #reset-btn {
  background: #f44336;
}

.editor-buttons #download-btn {
  background: #009688;
}

.editor-buttons button:hover {
  background: #795548;
  cursor: pointer;
}

.editor-buttons {
  display: inline-block;
}

[type="file"] {
  display: none;
}

[type="file"]+label {
  background: #673ab7;
  border: none;
  color: white;
  cursor: pointer;
  font-family: "Lato";
  padding: 8px 12px;
  border-radius: 4px;
  display: inline-block;
}

[type="file"]+label:hover {
  background: #3399ff;
}

#image-box {
  width: 100%;
  /* Default width for lower screen size */
}

@media screen and (min-width: 1000px) {
  #image-box {
    width: 60%;
    /* Width for desktop */
  }
}

.login-wrp {
  max-width: 400px;
  width: 100%;
  margin: 50px auto;
}

.top {
  background: #131BE1;
  height: 300px;
  position: relative
}

.logo {
  position: absolute;
  max-width: 100px;
  top: 28%;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
}

.bottom {
  background: #eee;
  height: 300px;
  position: relative;
}

.bottom .login-form {
  background: #fff;
  position: absolute;
  box-shadow: 1px 1px 10px #999;
  width: 90%;
  top: -38%;
  left: 5%;
  border-radius: 5px;
  padding: 50px 40px;
}

.btn {
  border-radius: 30px
}

.btn-primary {
  background: #F8C407;
  border-color: #F8C407;
}

.btn-primary:hover,
.btn-primary:focus {
  background: #F8C407;
  border-color: #F8C407
}

.checkbox-inline {
  cursor: pointer;
}

.btn-link {
  color: #999;
  margin-top: 10px;
  display: block
}

.btn-link:hover,
.btn-link:focus {
  color: #777;
}